In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

2024-09-09 14:03:27.159498: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
# Read the tab-separated file into a DataFrame
elections_results_df = pd.read_csv('1976-2020-president.tab', sep='\t')

In [4]:
# Show the column names for dataframe
elections_results_df.columns

Index(['year', 'state', 'state_po', 'state_fips', 'state_cen', 'state_ic',
       'office', 'candidate', 'party_detailed', 'writein', 'candidatevotes',
       'totalvotes', 'version', 'notes', 'party_simplified'],
      dtype='object')

In [5]:
# Display the top of the dataframe
elections_results_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN \\""BEN\""\""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [6]:
# Read in second dataset using pandas
census_demo_df = pd.read_csv('ShareRaceByCity.csv')

In [7]:
# Display top of new dataframe
census_demo_df.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3

In [8]:
# Merge dataframes on their state
demo_merged_df = pd.merge(census_demo_df, elections_results_df, left_on='Geographic area', right_on='state_po')

In [9]:
# Display the new dataframe top
demo_merged_df.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,year,state,state_po,...,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,41,US PRESIDENT,"BUBAR, BENJAMIN \\""BEN\""\""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [10]:
# Read in third dataset with more census demographics using pandas 
second_demo_df = pd.read_csv('county_census_and_election_result.csv')

In [11]:
# Display the new dataframe top
second_demo_df.head()

,year,county_fips,inctot,mortamt1,avrg_age,ftotinc,foodstmp_1_freq,foodstmp_2_freq,sex_2_freq,sex_1_freq,...,empstat_3.0_freq,empstat_2.0_freq,state_po,county_name,democrat,green,liberitarian,other,republican,winner
0,2000,1,24566.4,634.6,46.0,46912.7,93.6,6.4,54.0,46.0,...,38.4,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2,33842.9,1080.1,42.4,65021.9,95.3,4.7,50.3,49.7,...,25.2,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,4,28331.7,814.7,45.3,52826.7,95.8,4.2,52.1,47.9,...,38.3,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,5,22782.6,557.5,46.2,43941.3,92.5,7.5,53.0,47.0,...,37.8,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,6,32245.0,1216.3,43.8,61455.3,95.7,4.3,52.0,48.0,...,35.1,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Merge the new dataframe witht the existing merged dataframe but preserving all columns 
second_merged_df = pd.merge(demo_merged_df, second_demo_df, how='outer', left_index=True, right_index=True)

In [13]:
# Display the new dataframe top
second_merged_df.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,year_x,state,state_po_x,...,empstat_3.0_freq,empstat_2.0_freq,state_po_y,county_name,democrat,green,liberitarian,other,republican,winner
0,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,38.4,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,25.2,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,38.3,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,37.8,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Abanda CDP,67.2,30.2,0,0,1.6,1976,ALABAMA,AL,...,35.1,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Check dimension of dataframe 
print(second_merged_df.shape)

(2503136, 67)

In [15]:
# Check data types of each columns
second_merged_df.dtypes

Geographic area           object
City                      object
share_white               object
share_black               object
share_native_american     object
                          ...
green                    float64
liberitarian             float64
other                    float64
republican               float64
winner                   float64
Length: 67, dtype: object

In [16]:
second_merged_df.columns

Index(['Geographic area', 'City', 'share_white', 'share_black',
       'share_native_american', 'share_asian', 'share_hispanic', 'year_x',
       'state', 'state_po_x', 'state_fips', 'state_cen', 'state_ic', 'office',
       'candidate', 'party_detailed', 'writein', 'candidatevotes',
       'totalvotes', 'version', 'notes', 'party_simplified', 'year_y',
       'county_fips', 'inctot', 'mortamt1', 'avrg_age', 'ftotinc',
       'foodstmp_1_freq', 'foodstmp_2_freq', 'sex_2_freq', 'sex_1_freq',
       'marst_5_freq', 'marst_6_freq', 'marst_1_freq', 'marst_4_freq',
       'marst_3_freq', 'marst_2_freq', 'race_1_freq', 'race_2_freq',
       'race_7_freq', 'race_8_freq', 'race_5_freq', 'race_6_freq',
       'race_3_freq', 'race_4_freq', 'race_9_freq', 'ctz_stat_1_freq',
       'ctz_stat_3_freq', 'ctz_stat_2_freq', 'lang_1_freq', 'lang_2_freq',
       'educ_attain_2.0_freq', 'educ_attain_1.0_freq', 'educ_attain_3.0_freq',
       'educ_attain_4.0_freq', 'empstat_1.0_freq', 'empstat_3.0_freq',
       'empstat_2.0_freq', 'state_po_y', 'county_name', 'democrat', 'green',
       'liberitarian', 'other', 'republican', 'winner'],
      dtype='object')

In [17]:
# Drop unnecessary columns
selected_df = second_merged_df.drop(columns=['county_fips', 'state_po_x', 'county_name', 'democrat',
                                             'green', 'liberitarian', 'other', 'republican'])

In [18]:
# Filter for the desired years
filtered_df = selected_df[selected_df['year_x'].isin([2008, 2012, 2016, 2020])]

In [19]:
# Check new dataframe
filtered_df.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,year_x,state,state_fips,...,lang_2_freq,educ_attain_2.0_freq,educ_attain_1.0_freq,educ_attain_3.0_freq,educ_attain_4.0_freq,empstat_1.0_freq,empstat_3.0_freq,empstat_2.0_freq,state_po_y,winner
50,AL,Abanda CDP,67.2,30.2,0,0,1.6,2008,ALABAMA,1,...,5.0,50.8,42.1,6.4,0.7,66.0,30.9,3.1,NaN,NaN
51,AL,Abanda CDP,67.2,30.2,0,0,1.6,2008,ALABAMA,1,...,3.1,40.2,52.9,6.2,0.7,56.4,39.8,3.8,NaN,NaN
52,AL,Abanda CDP,67.2,30.2,0,0,1.6,2008,ALABAMA,1,...,11.9,54.1,36.4,8.7,0.8,69.5,26.6,3.9,NaN,NaN
53,AL,Abanda CDP,67.2,30.2,0,0,1.6,2008,ALABAMA,1,...,21.0,48.5,43.5,7.2,0.8,57.5,39.0,3.5,NaN,NaN
54,AL,Abanda CDP,67.2,30.2,0,0,1.6,2012,ALABAMA,1,...,4.2,38.6,55.8,4.9,0.7,58.7,38.1,3.3,NaN,NaN

In [20]:
# Check if there is any NaN values
print(filtered_df.isnull().values.any())

True

In [21]:
filtered_df = filtered_df.fillna(method='ffill')
filtered_df = filtered_df.fillna(method='bfill')

/var/folders/03/jr49d9l55y583dl7ztffjx1c0000gn/T/ipykernel_22730/3305368124.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filtered_df = filtered_df.fillna(method='ffill')
/var/folders/03/jr49d9l55y583dl7ztffjx1c0000gn/T/ipykernel_22730/3305368124.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filtered_df = filtered_df.fillna(method='bfill')

In [22]:
print(filtered_df.isnull().sum())

Geographic area               0
City                          0
share_white                   0
share_black                   0
share_native_american         0
share_asian                   0
share_hispanic                0
year_x                        0
state                         0
state_fips                    0
state_cen                     0
state_ic                      0
office                        0
candidate                     0
party_detailed                0
writein                       0
candidatevotes                0
totalvotes                    0
version                       0
notes                    910587
party_simplified              0
year_y                        0
inctot                        0
mortamt1                      0
avrg_age                      0
ftotinc                       0
foodstmp_1_freq               0
foodstmp_2_freq               0
sex_2_freq                    0
sex_1_freq                    0
marst_5_freq                  0
marst_6_freq                  0
marst_1_freq                  0
marst_4_freq                  0
marst_3_freq                  0
marst_2_freq                  0
race_1_freq                   0
race_2_freq                   0
race_7_freq                   0
race_8_freq                   0
race_5_freq                   0
race_6_freq                   0
race_3_freq                   0
race_4_freq                   0
race_9_freq                   0
ctz_stat_1_freq               0
ctz_stat_3_freq               0
ctz_stat_2_freq               0
lang_1_freq                   0
lang_2_freq                   0
educ_attain_2.0_freq          0
educ_attain_1.0_freq          0
educ_attain_3.0_freq          0
educ_attain_4.0_freq          0
empstat_1.0_freq              0
empstat_3.0_freq              0
empstat_2.0_freq              0
state_po_y                    0
winner                        0
dtype: int64

In [23]:
 # View the 'notes' column
print(filtered_df['notes'])

50        NaN
51        NaN
52        NaN
53        NaN
54        NaN
           ..
2503131   NaN
2503132   NaN
2503133   NaN
2503134   NaN
2503135   NaN
Name: notes, Length: 910587, dtype: float64

In [24]:
# Drop the 'notes' column
filtered_df = filtered_df.drop(columns=['notes'])

In [25]:
filtered_df.columns

Index(['Geographic area', 'City', 'share_white', 'share_black',
       'share_native_american', 'share_asian', 'share_hispanic', 'year_x',
       'state', 'state_fips', 'state_cen', 'state_ic', 'office', 'candidate',
       'party_detailed', 'writein', 'candidatevotes', 'totalvotes', 'version',
       'party_simplified', 'year_y', 'inctot', 'mortamt1', 'avrg_age',
       'ftotinc', 'foodstmp_1_freq', 'foodstmp_2_freq', 'sex_2_freq',
       'sex_1_freq', 'marst_5_freq', 'marst_6_freq', 'marst_1_freq',
       'marst_4_freq', 'marst_3_freq', 'marst_2_freq', 'race_1_freq',
       'race_2_freq', 'race_7_freq', 'race_8_freq', 'race_5_freq',
       'race_6_freq', 'race_3_freq', 'race_4_freq', 'race_9_freq',
       'ctz_stat_1_freq', 'ctz_stat_3_freq', 'ctz_stat_2_freq', 'lang_1_freq',
       'lang_2_freq', 'educ_attain_2.0_freq', 'educ_attain_1.0_freq',
       'educ_attain_3.0_freq', 'educ_attain_4.0_freq', 'empstat_1.0_freq',
       'empstat_3.0_freq', 'empstat_2.0_freq', 'state_po_y', 'winner'],
      dtype='object')

In [26]:
# Check data types of each columns
filtered_df.dtypes

Geographic area           object
City                      object
share_white               object
share_black               object
share_native_american     object
share_asian               object
share_hispanic            object
year_x                     int64
state                     object
state_fips                 int64
state_cen                  int64
state_ic                   int64
office                    object
candidate                 object
party_detailed            object
writein                     bool
candidatevotes             int64
totalvotes                 int64
version                    int64
party_simplified          object
year_y                   float64
inctot                   float64
mortamt1                 float64
avrg_age                 float64
ftotinc                  float64
foodstmp_1_freq          float64
foodstmp_2_freq          float64
sex_2_freq               float64
sex_1_freq               float64
marst_5_freq             float64
marst_6_freq             float64
marst_1_freq             float64
marst_4_freq             float64
marst_3_freq             float64
marst_2_freq             float64
race_1_freq              float64
race_2_freq              float64
race_7_freq              float64
race_8_freq              float64
race_5_freq              float64
race_6_freq              float64
race_3_freq              float64
race_4_freq              float64
race_9_freq              float64
ctz_stat_1_freq          float64
ctz_stat_3_freq          float64
ctz_stat_2_freq          float64
lang_1_freq              float64
lang_2_freq              float64
educ_attain_2.0_freq     float64
educ_attain_1.0_freq     float64
educ_attain_3.0_freq     float64
educ_attain_4.0_freq     float64
empstat_1.0_freq         float64
empstat_3.0_freq         float64
empstat_2.0_freq         float64
state_po_y                object
winner                   float64
dtype: object

In [27]:
columns_to_convert = ['share_white', 'share_black', 'share_native_american', 'share_asian', 'share_hispanic']  

for col in columns_to_convert:
    filtered_df[col] = pd.to_numeric(filtered_df[col], errors='coerce')

In [28]:
filtered_df.dtypes

Geographic area           object
City                      object
share_white              float64
share_black              float64
share_native_american    float64
share_asian              float64
share_hispanic           float64
year_x                     int64
state                     object
state_fips                 int64
state_cen                  int64
state_ic                   int64
office                    object
candidate                 object
party_detailed            object
writein                     bool
candidatevotes             int64
totalvotes                 int64
version                    int64
party_simplified          object
year_y                   float64
inctot                   float64
mortamt1                 float64
avrg_age                 float64
ftotinc                  float64
foodstmp_1_freq          float64
foodstmp_2_freq          float64
sex_2_freq               float64
sex_1_freq               float64
marst_5_freq             float64
marst_6_freq             float64
marst_1_freq             float64
marst_4_freq             float64
marst_3_freq             float64
marst_2_freq             float64
race_1_freq              float64
race_2_freq              float64
race_7_freq              float64
race_8_freq              float64
race_5_freq              float64
race_6_freq              float64
race_3_freq              float64
race_4_freq              float64
race_9_freq              float64
ctz_stat_1_freq          float64
ctz_stat_3_freq          float64
ctz_stat_2_freq          float64
lang_1_freq              float64
lang_2_freq              float64
educ_attain_2.0_freq     float64
educ_attain_1.0_freq     float64
educ_attain_3.0_freq     float64
educ_attain_4.0_freq     float64
empstat_1.0_freq         float64
empstat_3.0_freq         float64
empstat_2.0_freq         float64
state_po_y                object
winner                   float64
dtype: object

In [29]:
# Create new csv file with merged and cleaned datasets and export
# Exporting DataFrame to CSV
filtered_df.to_csv('output.csv', index=False)

In [30]:
X_filtered_df = filtered_df[list(filtered_df.columns[:-1])]
y_filtered_df = filtered_df['winner'].to_numpy().reshape(-1, 1)

In [31]:
numerical_columns = X_filtered_df.select_dtypes(include=['number']).columns.to_list()
numerical_columns

['share_white',
 'share_black',
 'share_native_american',
 'share_asian',
 'share_hispanic',
 'year_x',
 'state_fips',
 'state_cen',
 'state_ic',
 'candidatevotes',
 'totalvotes',
 'version',
 'year_y',
 'inctot',
 'mortamt1',
 'avrg_age',
 'ftotinc',
 'foodstmp_1_freq',
 'foodstmp_2_freq',
 'sex_2_freq',
 'sex_1_freq',
 'marst_5_freq',
 'marst_6_freq',
 'marst_1_freq',
 'marst_4_freq',
 'marst_3_freq',
 'marst_2_freq',
 'race_1_freq',
 'race_2_freq',
 'race_7_freq',
 'race_8_freq',
 'race_5_freq',
 'race_6_freq',
 'race_3_freq',
 'race_4_freq',
 'race_9_freq',
 'ctz_stat_1_freq',
 'ctz_stat_3_freq',
 'ctz_stat_2_freq',
 'lang_1_freq',
 'lang_2_freq',
 'educ_attain_2.0_freq',
 'educ_attain_1.0_freq',
 'educ_attain_3.0_freq',
 'educ_attain_4.0_freq',
 'empstat_1.0_freq',
 'empstat_3.0_freq',
 'empstat_2.0_freq']

In [32]:
categorical_columns = X_filtered_df.select_dtypes(include=['object'])
categorical_columns

,Geographic area,City,state,office,candidate,party_detailed,party_simplified,state_po_y
50,AL,Abanda CDP,ALABAMA,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,REPUBLICAN,AL
51,AL,Abanda CDP,ALABAMA,US PRESIDENT,"OBAMA, BARACK H.",DEMOCRAT,DEMOCRAT,AL
52,AL,Abanda CDP,ALABAMA,US PRESIDENT,"OBAMA, BARACK H.",INDEPENDENT,OTHER,AL
53,AL,Abanda CDP,ALABAMA,US PRESIDENT,"OBAMA, BARACK H.",INDEPENDENT,OTHER,AL
54,AL,Abanda CDP,ALABAMA,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,REPUBLICAN,AL
...,...,...,...,...,...,...,...,...
2503131,WY,Y-O Ranch CDP,WYOMING,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,LIBERTARIAN,WA
2503132,WY,Y-O Ranch CDP,WYOMING,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,OTHER,WA
2503133,WY,Y-O Ranch CDP,WYOMING,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,OTHER,WA
2503134,WY,Y-O Ranch CDP,WYOMING,US PRESIDENT,OVERVOTES,INDEPENDENT,OTHER,WA
2503135,WY,Y-O Ranch CDP,WYOMING,US PRESIDENT,UNDERVOTES,INDEPENDENT,OTHER,WA

In [42]:
# Apply one-hot encoding to the training set
X_train_cat = pd.get_dummies(X_train[categorical_columns])

# Apply one-hot encoding to the test set
X_test_cat = pd.get_dummies(X_test[categorical_columns])

# Align the test set with the training set by reindexing
X_test_cat = X_test_cat.reindex(columns=X_train_cat.columns, fill_value=0)

ValueError: Boolean array expected for the condition, not object

In [33]:
# Apply pd.get_dummies() to those columns
#X_cat_df = pd.get_dummies(categorical_columns)

In [34]:
# Create train and test data
X_train = X_filtered_df[filtered_df['year_x'].isin([2008, 2012, 2016])]
y_train = y_filtered_df[filtered_df['year_x'].isin([2008, 2012, 2016])]

In [35]:
X_test = X_filtered_df[filtered_df['year_x'] == 2020]
y_test = y_filtered_df[filtered_df['year_x'] == 2020]

In [ ]:
# Align the test set with the training set by reindexing
#X_test_cat = X_test_cat.reindex(columns=X_train.columns, fill_value=0)

In [36]:
# Initialize the StandardScaler
scaler = StandardScaler()

In [37]:
# Fit the scaler to the input features and transform them
X_normalized = scaler.fit_transform(X_train[numerical_columns])
X_normalized

array([[-7.80772001e-01,  1.57410563e+00, -2.10342774e-01, ...,
         3.05563023e+01, -2.99322690e+01, -1.19680611e+00],
       [-7.80772001e-01,  1.57410563e+00, -2.10342774e-01, ...,
        -1.72182724e-02, -1.57155640e+00,  7.04376368e+00],
       [-7.80772001e-01,  1.57410563e+00, -2.10342774e-01, ...,
         4.17028983e+01, -4.36346357e+01,  8.22098794e+00],
       ...,
       [ 4.26426607e-01, -3.28713849e-01,  3.20560654e-03, ...,
        -1.72182724e-02,  2.17420563e-02, -1.95818542e-02],
       [ 4.26426607e-01, -3.28713849e-01,  3.20560654e-03, ...,
        -1.72182724e-02,  2.17420563e-02, -1.95818542e-02],
       [ 4.26426607e-01, -3.28713849e-01,  3.20560654e-03, ...,
        -1.72182724e-02,  2.17420563e-02, -1.95818542e-02]])

In [38]:
X_test_normalized = scaler.transform(X_test[numerical_columns])
X_test_normalized

array([[-7.80772001e-01,  1.57410563e+00, -2.10342774e-01, ...,
         1.74988612e+01, -1.94164991e+01,  8.22098794e+00],
       [-7.80772001e-01,  1.57410563e+00, -2.10342774e-01, ...,
         2.19574996e+01, -2.38777348e+01,  8.22098794e+00],
       [-7.80772001e-01,  1.57410563e+00, -2.10342774e-01, ...,
         2.25944480e+01, -2.32404154e+01,  3.51209091e+00],
       ...,
       [ 4.26426607e-01, -3.28713849e-01,  3.20560654e-03, ...,
        -1.72182724e-02,  2.17420563e-02, -1.95818542e-02],
       [ 4.26426607e-01, -3.28713849e-01,  3.20560654e-03, ...,
        -1.72182724e-02,  2.17420563e-02, -1.95818542e-02],
       [ 4.26426607e-01, -3.28713849e-01,  3.20560654e-03, ...,
        -1.72182724e-02,  2.17420563e-02, -1.95818542e-02]])

In [40]:
# Concatenate the numerical and categorical data for train and test data
import numpy as np
X_train_combined = np.hstack((X_normalized, X_train.to_numpy()))
X_test_combined = np.hstack((X_test_normalized, X_test.to_numpy()))

In [41]:
# Convert the combined data back to DataFrame if needed for model input
X_train_df = pd.DataFrame(X_train_combined, columns=numerical_columns + X_cat_df.columns.to_list())
X_test_df = pd.DataFrame(X_test_combined, columns=numerical_columns + X_cat_df.columns.to_list())

ValueError: Shape of passed values is (590901, 105), indices imply (590901, 24680)

In [38]:
# Join joined_df = df1.join(df2)
joined_df = X_cat_df.join()

AttributeError: 'numpy.ndarray' object has no attribute 'join'

In [35]:
# Test the Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

clf = DecisionTreeClassifier(max_depth=5)

In [ ]:
# Train the model
clf.fit(X_train, y_train)

In [ ]:
# Make predictions
y_pred = clf.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
# Test a Random Forest Classifier
#from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest Classifier
#rf_model = RandomForestClassifier(random_state=42)

# Train the Random Forest model on the training data
#rf_model.fit(X_train, y_train.ravel())  # .ravel() to reshape the target correctly

# Make predictions on the test data
#rf_predictions = rf_model.predict(X_test)

# Evaluate the Random Forest model
#rf_accuracy = accuracy_score(y_test, rf_predictions)
#print(f"Random Forest Model Accuracy: {rf_accuracy * 100:.2f}%")

In [ ]:
# Test a Linear Regression model
#from sklearn.linear_model import LogisticRegression

# Initialize and train the Logistic Regression model
#model = LogisticRegression()

# Train the model on the training data
#model.fit(X_train, y_train)

# Make predictions on the test data
#y_pred = model.predict(X_test)

# Evaluate the model's accuracy
#accuracy = accuracy_score(y_test, y_pred)
#print(f"Model accuracy: {accuracy * 100:.2f}%")

In [ ]:
# Test a Support Vector Model
#from sklearn.svm import SVC

# Initialize the SVM model
#svm_model = SVC(random_state=42)

# Train the SVM model on the training data
#svm_model.fit(X_train, y_train.ravel())

# Make predictions on the test data
#svm_predictions = svm_model.predict(X_test)

# Evaluate the SVM model
#svm_accuracy = accuracy_score(y_test, svm_predictions)
#print(f"SVM Model Accuracy: {svm_accuracy * 100:.2f}%")